@model SGP.Model.Entity.Equipamento

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Equipamentos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaDoItemID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoriaDoItem.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassificacaoDeAtivosID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassificacaoDeAtivos.Nome)
        </dd>
        <dd class="col-sm-10">
            <a class="btn btn-outline-primary" href="@Model.NotaFiscalUrl" target="_blank">Visualizar</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDeCompra)
        </dt>
        <dd class="col-sm-10">
            @{

                var valorCompra = Model.ValorDeCompra;
                string specifier;
                System.Globalization.CultureInfo culture;
                specifier = "C2";
                culture = System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR");

            }
            @Html.Raw(valorCompra.ToString(specifier, culture))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAtual)
        </dt>
        <dd class="col-sm-10">
            @{
                var valorAtual = Model.ValorAtual;


            }
            @Html.Raw(valorAtual.ToString(specifier, culture))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataDeCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModeloDeEquipamentoID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModeloDeEquipamento.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FabricanteID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fabricante.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDeSerie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroDeSerie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipamentoStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipamentoStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsavelDoEquipamentoID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponsavelDoEquipamento.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SetorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Setor.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoDeConservacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoDeConservacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EquipamentoID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.EquipamentoID">Delete</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
