@model IEnumerable<SGP.Model.Entity.ViewModels.EquipamentoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">Equipamentos</h1>
   
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="Create">Adicionar</a></li>
    <li class="breadcrumb-item active">Lista de Equipamentos</li>
</ol>

<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.NumeroDePatrimonio)</th>
                        <th>@Html.DisplayNameFor(model => model.CategoriaDoItemNome
                        
                        )</th>
                        <th>@Html.DisplayNameFor(model => model.ClassificacaoDeAtivosId)</th>
                        @*<th>@Html.DisplayNameFor(model => model.FabricanteId)</th>*@
                        <th>@Html.DisplayNameFor(model => model.NumeroDeSerie)</th>
                        <th>@Html.DisplayNameFor(model => model.Status)</th>
                        <th>@Html.DisplayNameFor(model => model.ResponsavelDoEquipamentoId)</th>
                        <th>@Html.DisplayNameFor(model => model.SetorId)</th>
                        <th>@Html.DisplayNameFor(model => model.Conservacao)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.NumeroDePatrimonio)</th>
                        <th>@Html.DisplayNameFor(model => model.CategoriaDoItemId)</th>
                        <th>@Html.DisplayNameFor(model => model.ClassificacaoDeAtivosId)</th>
                        @*<th>@Html.DisplayNameFor(model => model.FabricanteId)</th>*@
                        <th>@Html.DisplayNameFor(model => model.NumeroDeSerie)</th>
                        <th>@Html.DisplayNameFor(model => model.NumeroDePatrimonio)</th>
                        <th>@Html.DisplayNameFor(model => model.ResponsavelDoEquipamentoId)</th>
                        <th>@Html.DisplayNameFor(model => model.SetorId)</th>
                        <th>@Html.DisplayNameFor(model => model.NumeroDePatrimonio)</th>
                    </tr>
                </tfoot>
                <tbody>

                    @foreach(var item in Model)
                    {
                    <tr>
                        <td>
                            @{var numero = item.NumeroDePatrimonio; }
                            <a asp-action="Details" asp-route-id="@item.NumeroDePatrimonio">@Html.Raw(numero.ToString("000000"))</a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.CategoriaDoItemNome)</td>
                        <td>@Html.DisplayFor(modelItem => item.ClassificacaoDeAtivosNome)</td>
                        @*<td>@Html.DisplayFor(modelItem => item.Fabricante.Nome)</td>*@
                        <td>@Html.DisplayFor(modelItem => item.NumeroDeSerie)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.ResponsavelDoEquipamentoNome)</td>
                        <td>@Html.DisplayFor(modelItem => item.SetorNome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Conservacao)</td>
                    </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
