@model IEnumerable<SGP.Models.Equipamentos.Equipamento>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">Equipamentos</h1>
   
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="Create">Adicionar</a></li>
    <li class="breadcrumb-item active">Lista de Equipamentos</li>
</ol>

<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.EquipamentoID)</th>
                        <th>@Html.DisplayNameFor(model => model.CategoriaID)</th>
                        <th>@Html.DisplayNameFor(model => model.ClassificacaoID)</th>
                        <th>@Html.DisplayNameFor(model => model.FornecedorID)</th>
                        <th>@Html.DisplayNameFor(model => model.Serie)</th>
                        <th>@Html.DisplayNameFor(model => model.Status)</th>
                        <th>@Html.DisplayNameFor(model => model.ResponsavelID)</th>
                        <th>@Html.DisplayNameFor(model => model.SetorID)</th>
                        <th>@Html.DisplayNameFor(model => model.EstadoDeConservacao)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.EquipamentoID)</th>
                        <th>@Html.DisplayNameFor(model => model.CategoriaID)</th>
                        <th>@Html.DisplayNameFor(model => model.ClassificacaoID)</th>
                        <th>@Html.DisplayNameFor(model => model.FornecedorID)</th>
                        <th>@Html.DisplayNameFor(model => model.Serie)</th>
                        <th>@Html.DisplayNameFor(model => model.Status)</th>
                        <th>@Html.DisplayNameFor(model => model.ResponsavelID)</th>
                        <th>@Html.DisplayNameFor(model => model.SetorID)</th>
                        <th>@Html.DisplayNameFor(model => model.EstadoDeConservacao)</th>
                    </tr>
                </tfoot>
                <tbody>

                    @foreach(var item in Model)
                    {
                    <tr>
                        <td>
                            @{var numero = item.EquipamentoID; }
                            <a asp-action="Details" asp-route-id="@item.EquipamentoID">@Html.Raw(numero.ToString("000000"))</a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Categoria.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Classificacao.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Fornecedor.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Serie)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.Responsavel.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Setor.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.EstadoDeConservacao)</td>
                    </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
